{% extends 'base.html.twig' %}

{% block title %}Animal index{% endblock %}

{% block body %}
    <h1>Animal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Race</th>
                <th>Ager</th>
                <th>Sexe</th>
                <th>Photo</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for animal in animals %}
            <tr>
                <td>{{ animal.id }}</td>
                <td>{{ animal.nom }}</td>
                <td>{{ animal.race }}</td>
                <td>{{ animal.ager }}</td>
                <td>{{ animal.sexe }}</td>
                <td>{{ animal.photo }}</td>
                <td>{{ animal.description }}</td>
                <td>
                    <a href="{{ path('app_animal_show', {'id': animal.id}) }}">show</a>
                    <a href="{{ path('app_animal_edit', {'id': animal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_animal_new') }}">Create new</a>
{% endblock %}
